body
{
    margin: 0;
    padding: 0;
    /* overflow-x: hidden;metttre en fin de page */
}
.conteneur
{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}
body
 {
    font-family: 'Raleway', sans-serif;
}
* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.image_logo
{
    display: inline-block;
    margin-right: 800px;
}
.navigation
{
    display: inline-block;
}
ul
{
    list-style-type:none;
}
li
{
    display: inline;
}
.activites
{
    color: #696966;
    text-decoration: none;
    margin-right: 40px;
}
.hebergements
{
    margin-right: 40px; 
    text-decoration: none;
}
.inscrire
{
    text-decoration: none;
}
.map
 {		     
     display: inline-block;
     border-radius: 100px 0px 0px 100px;
     width:30px;
     line-height: 32px;
     text-align: center;
     background-color:#dedad9;
  }
.map i
 {		
     color:black;
 }
.marseille_france
 {		 
     display: inline-block;
     font-weight: bold;		       
     line-height: 0px;
     border-top:solid 1px #F2F2F2;
     border-bottom:solid 1px #F2F2F2;
 }		
 .recherche		
 {		
     display: inline-block;
     border-radius: 0PX 100px 100px 0px; 
     text-align: center;
     background-color: #0065FC;		     
     width: 90px;
     line-height: 0px;		
 }		 
#filtres
{
    display: flex;
    flex-direction: row;
    padding: 15px;
}
.titref p,.economique p,.familiale p,.romantique p,.animaux p
{
    display:inline-block;
    font-weight:bold;
    margin-top:-50px;
    margin-bottom:-40px;
    margin-right:30px;
}
.titref i,.economique i,.familiale i,.romantique i,.animaux i
{
    background-color: #DEEBFF;
    border-radius: 50%;
    line-height: 30px;
    width: 30px; 
}
.economique,.familiale,.romantique,.animaux
{
    border:solid 1px  #F2F2F2;
    border-radius: 50px;
    width: 200px;
    line-height:0px ;
    margin-right: 20px;
}
.economique:hover,.familiale:hover,.romantique:hover,.animaux:hover
{
    color: crimson;
}
i
{
    color:#0065FC;
}
figure
#titreimage1,#titreimage2,#titreimage3,#titreimage4,#titreimage5,#titreimage6
{
    padding-left: 8px;
}
figcaption
{
    font-weight: bold;
}
img
{
    border-radius: 10px 10px 0px 0px;
    margin-left: auto;
    margin-right: auto;
}
#hebergements
{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}
#hebergements_marseille
{
    background-color: #F2F2F2;
    padding-top: 40px;
    border-radius: 20px;
    flex-wrap: wrap;
    width: 67%;
    display: flex;
    justify-content: space-between;
    height: 700px;
}
.titre_marseille
{
    width: 100%;
    margin-left: 40px;
    margin-bottom: -10px;
}
.cannebiere,.port,.mouettes,.mer,.panier,.amina
{
    width: 33%;
}
.cannebiere figure,.port figure,.mouettes figure,.mer figure,.panier figure,.amina figure
{
    border: white double 2px;
    border-radius: 10px;
    background-color: white; 
}
h4{
    margin-left: 40px;
    width: 100%;
}
#populaires
{
    background-color: #F2F2F2;
    padding-top: 40px;
    border-radius: 20px;
    flex-wrap: wrap;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 700px;
    padding-bottom: 20px;
}
.titre_populaires
{
    margin-left: 20px;
    width: 100%;
}
.titre_populaires i
{
    margin-left:80px ;
} 
.soleil_image,.soleil_titre,.eau_image,.eau_titre,.bleu_image,.bleu_titre
{
    display:inline-block;
}
.soleil_titre,.eau_titre,.bleu_titre
{
    margin-left: 10px;
}
#soleil figure,#eau figure, #bleu figure
{
    border: white double 2px;
    margin-left: 20px;
    border-radius: 10px;
    background-color: white;
    width: 350px;
}
#soleil
{
    margin-top: -40px;
}
#activites
{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    margin-left: -40px;   
}
.port figure,.fort figure,.frioul figure,.parc figure,.dame figure,.longchamp figure
{
    box-shadow: 0px 2px 5px #F2F2F2;
    border-radius: 10px;
}
.port figcaption,.fort figcaption,.frioul figcaption,.parc figcaption,.dame figcaption,.longchamp figcaption
{
    height: 40px;  
}
#foot
{
    display: flex;
    background-color: #F2F2F2;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.propos
{
    margin: auto;
}
.chartre
{
    margin: auto;
}
.assistance
{
    margin: auto;
}