body
{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
body,html
{
    height: 100%;
}
.conteneur
{
    max-width: 1300px;
    margin: auto;
}
* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
#en_tête
{
    display: flex;
    max-width: 100%;
    flex-direction: row;
}
#image_logo
{
    width: 70%;
}
.logo
{
    max-width: 100px;
    height: 100px;
    object-fit: contain;
}
.logo img
{
    width: 383px;
    height: 114px;
}
#navigation
{
    display: flex;
    flex-direction: row;
    width: 30%;
    margin-top: 20px;
}
.activites,.hebergements
{
    margin-left: 30px;
    text-decoration:none;
    color: black;
}
.activites:hover,.hebergements:hover
{
    border-top: 1px solid  #0065FC;
    color: #0065FC;
    padding-top: 30px;
}
.inscrire
{
    text-decoration: none;
    color: #0065FC;
    font-weight: bold;
    margin-left: 30px;
}
ul
{
    list-style-type:none;
}
li
{
    display: inline;
}
.map
 {           
     display: inline-block;
     border-radius: 100px 0px 0px 100px;
     width:30px;
     text-align: center;
     background-color:#dedad9;
     height: 39px;
     line-height: 37px;
}
.map i
 {      
     color:black;
 }
.marseille_france
 {       
     display: inline-block;
     margin-right: -4px;
     margin-left: -4px;
     line-height: 31px;;
}  
 ::placeholder
 {
     font-weight: bold;
     color:black;
     font-size: 1.5em;
     padding-left: 8px;
 }  
.champ
{
    height: 39px;
    width: 200px;
    border:solid 1px  #F2F2F2;
}
.recherche      
{       
     display: inline-block;
     border-radius: 0PX 10px 10px 0px; 
     text-align: center;
     background-color: #0065FC;             
     color:white;
     padding: 0px 10px 0px 10px;
     height: 39px;
     line-height: 6px;
}        
#filtres
{
    display: flex;
    align-items: center;
    margin: 20px 0px 41px 0px;
}
.titref
{
    font-weight: bold;
}
.economique p,.familiale p,.romantique p,.animaux p
{
    display:inline-block;
    font-weight:bold;
    margin-left: 10px;
    padding-right: 30px;
    justify-content: center;
    align-items: center;
}
.economique i,.familiale i,.romantique i,.animaux i
{
    background-color: #DEEBFF;
    border-radius: 50%;
    height: 40px;
    width: 40px; 
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.economique,.familiale,.romantique,.animaux
{
    border:solid 1px  #F2F2F2;
    border-radius: 50px;
    margin-right: 20px;
    height: 40px;
    display: flex;
    flex-direction: row;
    margin-left: 25px;
    flex-wrap: wrap;
    position: relative;
}
.titref
{
    margin-right: 20px;
}
.economique:hover,.familiale:hover,.romantique:hover,.animaux:hover
{
    color: crimson;
}
i
{
    color:#0065FC;
}
figcaption
{
    font-weight: bold;
}
img
{
    border-radius: 10px 10px 0px 0px;
    margin-left: auto;
    margin-right: auto;
}
.information i
{
    border: 1px solid  #F2F2F2;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    text-align: center;
}
#hebergements
{
    display: flex;
    max-width: 100%;
    flex-direction: row;
    justify-content: space-between;
}
#hebergements_marseille
{
    background-color: #F2F2F2;
    padding-top: 40px;
    border-radius: 20px;
    flex-wrap: wrap;
    max-width: 66%;
    display: flex;
    justify-content: space-between;
    padding-right: 4%;
}
.titre_marseille
{
    width: 100%;
    margin-left: 40px;
    margin-bottom: -10px;
}
.image1,.image2,.image3,.image4,.image5,.image6
{
    width: 235px;
    height: 112px;
    object-fit: cover;
}
.cannebiere,.hotel_port,.mouettes,.mer,.panier,.amina
{
   max-width: 32%; 
}
.cannebiere figure,.hotel_port figure,.mouettes figure,.mer figure,.panier figure,.amina figure
{
    border: white double 4px;
    border-radius: 10px;
    background-color: white;
    width: 245px;
}
.nuit1 p,.nuit2 p,.nuit3 p,.nuit4 p,.nuit5 p,.nuit6 p
{
    margin-top: 10px;
    margin-bottom: 10px;
}
.etoile1 i,.etoile2 i,.etoile3 i,.etoile4 i,.etoile5 i,.etoile6 i
{
    margin-bottom: 8px;
}
.titreimage1,.titreimage2,.titreimage3,.titreimage4,.titreimage5,.titreimage6
{
    margin-left: 9px;
}
.fas.fa-star.gris
{
    color:#DCDCDC
}
h4{
    margin-left: 40px;
    width: 100%;
}
#populaires
{
    background-color: #F2F2F2;
    padding-top: 40px;
    border-radius: 20px;
    flex-wrap: nowrap;
    max-width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} 
.titre_populaires
{
    margin-left: 20px;
    width: 100%;
}
.titre_populaires i
{
    margin-left: 50px;
    color:black;
}
.image7,.image8,.image9
{
    width: 124px;
    height: 140px;
    object-fit: cover; 
    border-radius: 10px 0px 0px 10px;
}
#soleil figure,#eau figure, #bleu figure
{
    border: white double 4px;
    margin-left: 20px;
    border-radius: 10px;
    background-color: white;
    max-width: 100%;
    height: 148px;
}
.soleil_image,.soleil_titre,.eau_image,.eau_titre,.bleu_image,.bleu_titre
{
    display:inline-block;
}
.soleil_titre,.eau_titre,.bleu_titre
{
    margin-left: 9px;
}
.nuitpop1 p,.nuitpop2 p,.nuitpop3 p
{
    margin-top: 10px;
    margin-bottom: 50px;
}
#activites
{
    display: flex;
    max-width: 1300px;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 30px;
    justify-content: space-between;
}
.port,.fort,.parc,.dame,.frioul,.longchamp 
{
    box-shadow: 0px 0px 20px #F2F2F2;
    border-radius: 10px;
}
.frioul 
{
    margin-top: 45px;
}
.longchamp
{
    margin-top: 40px;
}
.port figcaption,.fort figcaption,.frioul figcaption,.parc figcaption,.dame figcaption,.longchamp figcaption
{
    height: 50px;  
    margin-left: 8px;
}
.image_port,.image_parc
{
    width: 295px;
    height: 385px;
    object-fit: cover;
}
.image_fort
{
    width: 295px;
    height: 175px;
    object-fit: cover;
}
.image_frioul
{
    width: 295px;
    height: 110px;
    object-fit:cover; 
}
.image_dame
{
    width: 295px;
    height: 140px;
    object-fit: cover;
}
.image_longchamp
{
    width: 295px;
    height: 150px;
    object-fit: cover;
}
footer
{
    background-color: #F2F2F2;
}
#foot
{
    display: flex;
    margin-left: auto;
    max-width:100%;
    margin-right: auto;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.propos,.chartre
{
    margin-right: 250px;
}
.propos h4,.chartre h4,.assistance h4
{
    margin-left: 0px;
}
.propos a,.chartre a,.assistance a
{
    text-decoration: none;
    color:black;
}
@media screen and (max-width:1275px)
{
    body
    {
        margin-left: 20px;
        margin-right: 20px; 
    }
    #image_logo
    {
        width:58%;
    }
    #navigation
    {
        width: 42%;
    }
    .activites,.hebergements
    {   
        margin-right: 40px;
    }
    #hebergements_marseille
    {
        max-width: 69%;
    }
}
@media screen and (max-width:1243px)
{
    .titre_populaires i
    {
        margin-left: 4px;
    }
    #hebergements_marseille
    {
        padding-right: 5%;
    }
    .image1,.image2,.image3,.image4,.image5,.image6
    {
        width: 230px; 
    }
    .cannebiere figure,.hotel_port figure,.mouettes figure,.mer figure,.panier figure,.amina figure
    {
        width: 230px;
    }
    .image7,.image8,.image9
    {
        width: 208px;
        height: 90px;
        object-fit: cover;
        border-radius: 10px 10px 0px 0px;
    }
    #soleil figure,#eau figure, #bleu figure
    {
        max-width: 217px;
        height: 240px;
    }
    .image_port,.image_parc
    {
    width: 270px;
    height: 385px;
    object-fit: cover;
    }
    .image_fort
    {
    width: 270px;
    height: 175px;
    object-fit: cover;
    }
    .image_frioul
    {
    width: 270px;
    height: 110px;
    object-fit:cover; 
    }
    .image_dame
    {
    width: 270px;
    height: 140px;
    object-fit: cover;
    }
    .image_longchamp
    {
    width: 270px;
    height: 150px;
    object-fit: cover;
    }  
    .propos,.chartre
    {
    margin-right: 200px;
    }
} 
@media screen and (max-width:1160px)
{
    #hebergements
    {
        max-width: 1160px;
    }
    .cannebiere,.hotel_port,.mouettes,.mer,.panier,.amina
    {
        max-width: 50%; 
    }
    .cannebiere,.hotel_port,.mouettes,.mer,.panier,.amina
    {
        width: 240px;
    }
    .cannebiere figure,.hotel_port figure,.mouettes figure,.mer figure,.panier figure,.amina figure
    {
        width: 240px;
    } 
    #hebergements_marseille
    {
        padding-right: 10%;
    }
}
@media screen and (max-width:1128px)
{
    #image_logo
    {
        width:55%;
    }
    #navigation
    {
        width: 45%; 
    }
}
@media screen and (max-width:1119px)
{
    .port,.fort,.parc,.dame,.frioul,.longchamp
    {
        width: 235px;
    }
    .image_port,.image_parc
    {
        width: 235px;
        height: 385px;
        object-fit: cover;
    }
    .image_fort
    {   
        width: 235px;
        height: 175px;
        object-fit: cover;
    }
    .image_frioul
    {
        width: 235px;
        height: 110px;
        object-fit:cover; 
        margin-top: 30px;
    }
    .image_dame
    {
        width: 235px;
        height: 140px;
        object-fit: cover;
    }
    .image_longchamp
    {
        width: 235px;
        height: 150px;
        object-fit: cover;
        margin-top: 25px;
    } 
}
@media screen and (max-width:1024px)
{
    #image_logo
    {
        width: 50%;
    }
    #navigation
    {
        width: 50%;
    }  
    #filtres
    {
        display: flex;
        flex-wrap: wrap;
        max-width: 60%;
    }
    .romantique,.animaux
    {
        margin-left: 95px;
        margin-top: 10px;
    }
}
@media screen and (max-width:980px)
{
    #hebergements
    {
        display: flex;
        flex-direction: column;
    }
    #hebergements_marseille
    {
        max-width: 100%;
        margin-bottom: 40px;
    }
    #populaires
    {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        max-width: 100%;
        margin-bottom: 40px;
    }
    #titre_populaires
    {
        width: 100%;
    }
    .image7,.image8,.image9
    {
        width: 180px;
        height: 90px;
        object-fit: cover;
        border-radius: 10px 10px 0px 0px;
    }
    #soleil figure,#eau figure, #bleu figure
    {
        max-width: 189px;
        height: 240px;
    }
    #activites
    {
        max-width: 100%;
    }
    .romantique p,.animaux p
    {
        display: inline-block;
    }
    .port,.fort,.parc,.dame,.frioul,.longchamp
    {
    width: 175px;
    }
    .image_port,.image_parc
    {
    width: 175px;
    height: 385px;
    object-fit: cover;
    }
    .image_fort
    {   
    width: 175px;
    height: 175px;
    object-fit: cover;
    }
    .image_frioul
    {
    width: 175px;
    height: 110px;
    object-fit:cover; 
    margin-top: 30px;
    }   
    .image_dame
    {
    width: 175px;
    height: 140px;
    object-fit: cover;
    }   
    .image_longchamp
    {
    width: 175px;
    height: 150px;
    object-fit: cover;
    margin-top: 25px;
    }
    .propos,.chartre
    {
    margin-right: 150px;
    }
}
@media all and (min-width : 562px) and (max-width : 852px) 
{
    .familiale,.romantique,.animaux
    {
        margin-left: 90px;
        margin-top: 10px;
    }
    .propos,.chartre
    {
    margin-right: 100px;
    }
}
@media screen and (max-width:784px)
{
    #populaires
{
    flex-wrap: wrap;
    max-width: 100%;
    display: flex;
    flex-direction: column;
} 
.titre_populaires 
{
    margin-left: 40px;
}
.image7,.image8,.image9
{
    width: 144px;
    height: 140px;    
}
#soleil figure,#eau figure, #bleu figure
{
    margin-left: 40px;
    max-width: 350px;
    height: 148px;
}
.soleil_image,.soleil_titre,.eau_image,.eau_titre,.bleu_image,.bleu_titre
{
    display:inline-block;
}
}
@media screen and (max-width:740px)
{
    .port,.fort,.parc,.dame,.frioul,.longchamp
    {
        margin-right: 70px;
        width: 200px;
    }
    .image_port,.image_parc
    {
    width: 200px;
    height: 385px;
    object-fit: cover;
    }
    .image_fort
    {
    width: 200px;
    height: 175px;
    object-fit: cover;
    }
    .image_frioul
    {
    width: 200px;
    height: 110px;
    object-fit:cover; 
    }
    .image_dame
    {
    width: 200px;
    height: 140px;
    object-fit: cover;
    }
    .image_longchamp
    {
    width: 200px;
    height: 150px;
    object-fit: cover;
    }
    .parc,.dame
    {
        margin-top: 50px;
    }
    .propos,.chartre
    {
    margin-right: 40px;
    }
}
@media screen and (max-width:595px)
{
    #en_tête
    {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    #image_logo
    {
        margin-bottom: -20px;
    }
    #navigation
    {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    }   
    .titref
    {
        max-width: 100%;
    }
    #filtres
    {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        max-width: 100%;
    }
    .familiale
    {
        margin-left: 20px;
        margin-top: 10px;
    }
    #cercle
    {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .romantique
    {
        margin-left: 5%;
    }
    .animaux
    {
        margin-left: 0px;
    }
    .cannebiere,.hotel_port,.mouettes,.mer,.panier,.amina
    {
        max-width: 100%; 
    }
    #foot
    {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        flex-wrap: wrap;
        
    }
}
@media screen and (max-width:375px)
{
    .hebergements,.inscrire
    {
        margin-left: 0%;
        margin-right: 0%;
    }
    .animaux
    {
        margin-left: 15px;
    }
    #populaires
    {
        flex-direction: column;
        max-width: 100%;
    }
    
    .image7,.image8,.image9
    {
        width: 200px;
        height: 90px;
        object-fit: cover;
        border-radius: 10px 10px 0px 0px;
    }
    #soleil figure,#eau figure, #bleu figure
    {
        max-width: 210px;
        height: 240px;
    }
}
@media screen and (max-width:320px)
{
    .image7,.image8,.image9
    {
        width: 190px;
        height: 90px;
        object-fit: cover;
        border-radius: 10px 10px 0px 0px;
    }
    #soleil figure,#eau figure, #bleu figure
    {
        max-width: 198px;
        height: 240px;
    }
    .cannebiere,.hotel_port,.mouettes,.mer,.panier,.amina
    {
        width: 150px;

    }
    .cannebiere figure,.hotel_port figure,.mouettes figure,.mer figure,.panier figure,.amina figure
    {
        height: 240px;
        max-width: 240px;
    }
}






















